.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.nombre-col{
  flex: 3 !important;
}
.input-search-muni{
  width: 95%;
  padding-right: 15px;
}
.inline{
  padding: 15px 0;
}
